.card:not(.skill-card) {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: 32px;
    width: 100%;

    transition: all 0.6s ease-in-out, transform 0.1s ease-in-out;

    background-color: #f5f5f5;
}

.card:not(.skill-card):hover {
    border: 1px solid rgb(200, 200, 200);

    background-color: #ebebeb;
}

.card .role {
    margin-bottom: 8px;

    color: #1478dc;
}

.card .achievement-list {
    margin-bottom: 48px;
    padding-left: 20px;
}

.card .achievement-list>.achievement-item {
    margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
    .card:not(.skill-card) {
        padding: 20px;
    }
}