.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 32px;
    padding: 16px;
    min-width: 128px;

    transition: all 0.3s ease-in-out;

    filter: invert(100%);
    background-color: #fff;
    color: #000;

    text-decoration: none;
}

.link:hover {
    transform: scale(1.05);
}

.link .name {
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .link {
        padding: 12px;
        min-width: 96px;
    }
}