.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 32px;
    padding: 16px;
    min-width: 128px;

    background-color: #ffffff;
    color: #000000;
    text-decoration: none;

    filter: invert(100%);
    transition: 
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.link .name {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .link {
        padding: 12px;
        min-width: 96px;
    }
}
