#navbar {
    z-index: 2;
    position: fixed;
    top: 8px;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    overflow: hidden;

    transform: translateX(-50%);
    padding: 2px;
    height: 48px;

    border-radius: 24px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);

    background-color: rgba(255, 255, 255, 0.6);

    transition:
        background-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

#navbar a {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 48px;
    padding: 0 16px;
    min-width: 96px;
    height: 100%;

    color: inherit;
    text-decoration: none;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#navbar a.focused {
    font-weight: 600;
}

#navbar .focus {
    position: absolute;

    border-radius: 24px;
    background-color: #ffffff;

    transition:
        width 0.3s ease-in-out,
        height 0.3s ease-in-out,
        left 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media screen and (max-width: 640px) {
    #navbar {
        top: 0;
        width: 100%;

        flex-wrap: wrap;

        border-radius: 0;
        height: auto;
    }

    #navbar a {
        min-height: 32px;
        flex: 1 1 auto;
        justify-content: center;
    }
}
